*.ipynb
venv/*
*__pycache__*
*venv*
*.env

# example results
*your_report*

# files from other projects
*_outsider*

# no sobrecargar el repo con archivos de datos
app/output/*
app/input_data/*

# important stuff
*.pem